.outerContainer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading{
        font-size: 48px;
        font-weight: 700;
        color: #242524FF;
    }
    .tagLine {
        font-weight: 400;
        color: #8C8D8BFF;
        margin-bottom: 2rem;
        text-align: center;
    }
    .innerContainer {
        margin-top: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        padding: 1em;
    }

}

@media (min-width: 768px) {
    .outerContainer {
        .innerContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1024px) {
    .outerContainer {
        .innerContainer {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}